{% extends 'core/base.html' %}
{% load static %}
{% load l10n %}
<!--------------------------------------------------------------------------- Block head --------------------------------------------------------------------------->
{% block head %}
{% endblock %}
<!--------------------------------------------------------------------------- Block title --------------------------------------------------------------------------->
{% block title %} Presupuestos {% endblock %}
<!--------------------------------------------------------------------------- Block header --------------------------------------------------------------------------->
{% block header %}
<div class="titulo">
    <h1>Presupuestos</h1>
</div>
{% endblock %}
<!--------------------------------------------------------------------------- Block content --------------------------------------------------------------------------->
{% block content %}
<div class="row">    
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="tabla-scroll">
                <table id="Presupuestos" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="centered">Número</th>
                            <th class="centered">Cliente</th>
                            <th class="centered">Total</th>
                            <th class="centered">Fecha de creación</th>
                            <th class="centered">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_Presupuesto">
                        {% for pres in Pres %}
                            <tr>
                                <td><a href="/presupuestos/verPresupuesto/{% localize off %}{{pres.numero}}{% endlocalize %}">{% localize off %}{{pres.numero}}{% endlocalize %}</a></td>
                                <td>{{pres.cliente}} <button type="button" class="btn btn-dark btn-xs" data-bs-toggle="modal" data-bs-target="#cambiarClienteModal" data-bs-whatever="{% localize off %}{{pres.numero}}{% endlocalize %}"><i class="fa-solid fa-pencil"></i></button></td>
                                <td>$ {{pres.total}}</td>
                                <td>{{pres.created}}</td>
                                <td>
                                    <button class="btn btn-dark btn-xs ver-productos-btn" data-numero="{% localize off %}{{pres.numero}}{% endlocalize %}" title="Ver los productos de este presupuesto"><i class="fa-solid fa-eye"></i></button>
                                    <a href="/presupuestos/verPresupuesto/{% localize off %}{{pres.numero}}{% endlocalize %}" class="btn btn-dark btn-xs" title="Editar este presupuesto agregando/quitando/modificando los/sus productos"><i class="fa-solid fa-pencil"></i></a>
                                    <a href="/presupuestos/descargarPresupuesto/{% localize off %}{{pres.numero}}{% endlocalize %}" class="btn btn-dark btn-xs" title="Descargar este presupuesto en formato PDF"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="/pedidos/prepararCompletarPedido/{% localize off %}{{pres.numero}}{% endlocalize %}" class="btn btn-dark btn-xs" title="Convertir este presupuesto en un pedido"><i class="fa-solid fa-check"></i></a>
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--------------------------------------------------------------------------- Block modal --------------------------------------------------------------------------->
{% block modal %}
{% include 'presupuestos/partials/modales.html' %}
{% endblock %}

<!--------------------------------------------------------------------------- Block footer --------------------------------------------------------------------------->
{% block footer %}

{% endblock %}
<!--------------------------------------------------------------------------- Block scripts --------------------------------------------------------------------------->
{% block scripts %}
<!-- Custom Js -->
<script src="{% static 'presupuestos/js/Presupuestos.js' %}"></script>

{% endblock %}


