{% extends 'core/base.html' %}
{% load static %}
<!--------------------------------------------------------------------------- Block head --------------------------------------------------------------------------->
{% block head %}
<!-- Custom Css -->
<link rel="stylesheet" href="{% static 'clientes/css/Clientes.css' %}">
{% endblock %}
<!--------------------------------------------------------------------------- Block title --------------------------------------------------------------------------->
{% block title %}Clientes{% endblock %}
<!--------------------------------------------------------------------------- Block header --------------------------------------------------------------------------->
{% block header %}
<div class="titulo">
    <h1>Clientes</h1>
</div>
{% endblock %}
<!--------------------------------------------------------------------------- Block content --------------------------------------------------------------------------->
{% block content %}
<div class="row">    
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="tabla-scroll">
                <table id="Clientes" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="centered">Nombre</th>
                            <th class="centered">Negocio</th>
                            <th class="centered">CUIT</th>
                            <th class="centered">Teléfono</th>
                            <th class="centered">Dirección</th>
                            <th class="centered">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_Clientes">
                        {% for c in clientes %}
                            <tr>
                                <td>{{c.nombre|default:"-"}}</td>
                                <td>{{c.negocio|default:"-"}}</td>
                                <td>{% localize off %} {{c.cuit|default:"-"}} {% endlocalize %}</td>
                                <td>                
                                    {% if c.telefono %}
                                        <a href="https://wa.me/{{ c.telefono }}" target="_blank" rel="noopener noreferrer">
                                            {{ c.telefono }}
                                        </a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if c.direccion %}
                                        <a href="https://www.google.com/maps/search/?api=1&query={{ c.direccion_google }}"
                                        target="_blank" rel="noopener noreferrer">
                                            {{ c.direccion }}
                                        </a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-dark btn-xs" data-bs-toggle="modal" data-bs-target="#editarClienteModal" data-bs-whatever="{{c.id}}|{{c.nombre}}|{{c.negocio|default_if_none:''}}|{% localize off %}{{c.cuit|default_if_none:''}}{% endlocalize %}|{{c.telefono|default_if_none:''}}|{{c.direccion|default_if_none:''}}|{{c.metodo_contacto}}"><i class="fa-solid fa-pencil sm"></i></button>
                                    {% if es_gerencia %}
                                    <a href="/clientes/borrarCliente/{{ c.id }}"
                                        class="btn btn-dark btn-xs btnEliminacion"
                                        data-tipo="cliente"
                                        data-fetch-url="/clientes/obtenerCliente/{{ c.id }}"
                                        title="Eliminar cliente">
                                            <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %} 

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--------------------------------------------------------------------------- Block modal --------------------------------------------------------------------------->
{% block modal %}
{% include 'clientes/partials/modales.html' %}
{% endblock %}


<!--------------------------------------------------------------------------- Block footer --------------------------------------------------------------------------->
{% block footer %}
{% endblock %}
<!--------------------------------------------------------------------------- Block scripts --------------------------------------------------------------------------->
{% block scripts %}
<!-- Custom Js -->
<script src="{% static 'clientes/js/Clientes.js' %}"></script>
{% endblock %}