{% extends 'core/base_login.html' %}
{% load static %}
<!--------------------------------------------------------------------------- Block head --------------------------------------------------------------------------->
{% block head %}
<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
{% endblock %}
<!--------------------------------------------------------------------------- Block title --------------------------------------------------------------------------->
{% block title %} Iniciar sesión {% endblock %}
<!--------------------------------------------------------------------------- Block header --------------------------------------------------------------------------->
{% block header %}
<div class="vacio"></div>
{% endblock %}
<!--------------------------------------------------------------------------- Block logo --------------------------------------------------------------------------->
{% block logo %}
  <div class="light_login brand_login" id="logo_login"></div>
  <!-- <div class="titulo_login">EASYPRINT</div> -->
{% endblock %}
<!--------------------------------------------------------------------------- Block content --------------------------------------------------------------------------->
{% block content %}
  <div class="recuadro-fondo-login">
    <form action="/" method="post" class="form-login">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
        <input type="text"
               name="{{ form.username.html_name }}"
               id="{{ form.username.id_for_label }}"
               class="form-control"
               autofocus>
      </div>
      <div class="form-group">
        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}:</label>
        <div class="input-group">
          <input type="password"
                 name="{{ form.password.html_name }}"
                 id="{{ form.password.id_for_label }}"
                 class="form-control">
          <button type="button" class="btn btn-outline-secondary toggle-password border-start-0"
                  data-target="id_password">
            <i class="fa-solid fa-eye"></i>
          </button>
        </div>
      </div>
      <button id="submit" type="submit" class="btn btn-light btn-fuente">Iniciar sesión</button>
      <br>
      <a href="/restablecerContrasena">Olvidé mi contraseña</a>
    </form>
  </div>
{% endblock %}

<!--------------------------------------------------------------------------- Block modal --------------------------------------------------------------------------->
{% block modal %}{% endblock %}
<!--------------------------------------------------------------------------- Block footer --------------------------------------------------------------------------->
{% block footer %}
<div class="vacio"></div>
{% endblock %}
<!--------------------------------------------------------------------------- Block scripts --------------------------------------------------------------------------->
{% block scripts %}

{% endblock %}