{% extends 'core/base.html' %}
{% load static %}
<!--------------------------------------------------------------------------- Block head --------------------------------------------------------------------------->
{% block head %}
<link rel="stylesheet" href="{% static 'core/css/registro.css' %}">
{% endblock %}
<!--------------------------------------------------------------------------- Block title --------------------------------------------------------------------------->
{% block title %} Crear usuarie {% endblock %}
<!--------------------------------------------------------------------------- Block header --------------------------------------------------------------------------->
{% block header %}
<div class="titulo">
    <h1>Crear 9 usuarie:</h1>
</div>
{% endblock %}
<!--------------------------------------------------------------------------- Block content --------------------------------------------------------------------------->
{% block content %}
<div class="container mt-5">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-light btn-fuente">Registrarse</button>
    </form>
</div>
{% endblock %}
<!--------------------------------------------------------------------------- Block modal --------------------------------------------------------------------------->
{% block modal %}{% endblock %}
{% block footer %}
{% endblock %}
<!--------------------------------------------------------------------------- Block scripts --------------------------------------------------------------------------->
{% block scripts %}
<!-- Custom Js -->
<script src="{% static 'core/js/registro.js' %}"></script> 
{% endblock %}