/* Login */
.recuadro-fondo-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    opacity: 85%;
    z-index: 1;
}

.recuadro-fondo-login.dark {
    background-color: var(--fondo-dark);
}

.recuadro-fondo-login.light {
    background-color: var(--fondo-light);
}
.form-login {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: auto;
    background-color: transparent;
    z-index: 1000;
}

.form-restablecer-contrasena {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    z-index: 1000;
}

.brand_login{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:500px; 
    height:55px;
    margin:10px;
    padding:5px;
    background-size: cover;
    z-index: 2;
}

.light_login{
    background-image: url(/static/core/img/light/Isologotipo_easy_light.png);
}

.dark_login{
    background-image: url(/static/core/img/dark/Isologotipo_easy_dark.png);
}