.login-body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.login-container {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.brand_login {
  /* background-image: url('/static/core/img/light/Isologotipo_easy_light.png'); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  margin-bottom: 10px;
}

.light_login{
    background-image: url(/static/core/img/light/Isologotipo_easy_light.png);
}

.dark_login{
    background-image: url(/static/core/img/dark/Isologotipo_easy_dark.png);
}

.titulo_login {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.recuadro-fondo-login {
  background-color: var(--bs-secondary-bg);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.form-login p {
  margin-bottom: 1rem;
}

.btn-fuente {
  font-weight: bold;
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
}

.version {
  margin-top: 20px;
  font-size: 12px;
  color: var(--bs-secondary-color);
}

@media (max-width: 768px) {
    .login-container {
        width: 90%;
        margin: 0 auto;
        font-size: small;
    }
}
