{% extends 'core/base.html' %}
{% load static %}
{% load l10n %}
<!--------------------------------------------------------------------------- Block head --------------------------------------------------------------------------->
{% block head %}
<link rel="stylesheet" href="{% static 'pedidos/css/Pedidos.css' %}">
{% endblock %}
<!--------------------------------------------------------------------------- Block title --------------------------------------------------------------------------->
{% block title %}Nuevo pedido{% endblock %}
<!--------------------------------------------------------------------------- Block header --------------------------------------------------------------------------->
{% block header %}
    <h2>Completar pedido</h2>
{% endblock %}
<!--------------------------------------------------------------------------- Block content --------------------------------------------------------------------------->
{% block content %}
<form action="/pedidos/confirmarPedido" method="POST">
    {% csrf_token %}
    <div class="form-group cliente">
        <label for="cliente" style="font-weight: bold">Cliente:</label>
        <input list="lista_clientes" id="cliente" name="cliente" class="form-control" placeholder="Cliente" value="{{cliente}}" required>
        <datalist id="lista_clientes">
            {% for c in clientes %}
                <option value="{{ c.id }}|{{ c.referencia }}"></option>
            {% endfor %}
        </datalist>
    </div>
    <div class="form-group n_pedido">
        <label for="n_pedido" style="font-weight: bold">N° Pedido</label>
        <input type="text" id="n_pedido" name="n_pedido" class="form-control" value="{{n_ped}}" readonly>
    </div>
    <div class="form-group codigo">
        <label for="n_presupuesto" style="font-weight: bold">N° Presupuesto:</label>
        <input type="text" id="n_presupuesto" name="n_presupuesto" class="form-control" value="{{np}}" readonly>
    </div>
    <div class="form-group productos">
        <label for="productos" style="font-weight: bold">Productos:</label>  
        <ul id="productos" name="productos" class="form-control" style="list-style-type:none">
        {% for p in prods %}
            <li>{{p}}</li> 
        {% endfor %}
        </ul>
    </div>
    <div class="form-group fecha-entrega">
        <label for="fecha_entrega" style="font-weight: bold">Fecha de entrega:</label>
        <input type="date" id="fecha_entrega" name="fecha_entrega" class="form-control" required>
    </div>
    <div class="form-group info_adic">
        <label for="info_adic" style="font-weight: bold">Información adicional</label>
        <input type="textarea" id="info_adic" name="info_adic" class="form-control" placeholder="Información adicional">
    </div>
    <div class="form-group">
        <label for="total" style="font-weight: bold">Subtotal: $</label>
        <input type="text" id="total" name="total" class="form-control" value="{{total|localize}}" readonly>
        <label for="descuento" style="font-weight: bold">Descuento: $</label>
        <input type="text" id="descuento" name="descuento" class="form-control" value="{{descuento|localize}}" readonly>
        <label for="total_neto" style="font-weight: bold">Total Neto: $</label>
        <input type="text" id="total_neto" name="total_neto" class="form-control" value="{{total_neto|localize}}" readonly>
    </div>
    <div class="form-group categoria">
        <label for="estado" style="font-weight: bold">Estado</label>
        <select name="estado" id="estado" class="form-control select">
            <option value="">Elegir un estado</option>
            {% for estado in Estados %}
                <option value="{{ estado }}">{{ estado }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="senia" style="font-weight: bold">Seña: $</label>
        <input type="text" id="senia" name="senia" class="form-control" value=0>
    </div>
    <br>
    <div class="form-group btn-guardar-cancelar">
        {% if editando_presup %}
            <a href='/presupuestos/verPresupuesto/{{np}}' class="btn btn-danger btn-fuente"><i class="fa-solid fa-xmark"></i> Volver atras</a>
        {% else %}
            <a href='/presupuestos/inicio' class="btn btn-danger btn-fuente"><i class="fa-solid fa-xmark"></i> Volver atras </a>
        {% endif %}
        <button type="submit" class="btn btn-success btn-fuente"><i class="fa-solid fa-sack-dollar"></i> Confirmar pedido </button>
    </div>
</form>
{% endblock %}
<!--------------------------------------------------------------------------- Block modal --------------------------------------------------------------------------->
{% block modal %}
{% endblock %}
<!--------------------------------------------------------------------------- Block footer --------------------------------------------------------------------------->
{% block footer %}
{% endblock %}
<!--------------------------------------------------------------------------- Block scripts --------------------------------------------------------------------------->
{% block scripts %}
<!-- Custom Js -->
{% endblock %}