
{% extends 'core/base.html' %}
{% load static %}
{% load l10n %}
<!--------------------------------------------------------------------------- Block head --------------------------------------------------------------------------->
{% block head %}
<link rel="stylesheet" href="{% static 'pedidos/css/Pedidos.css' %}">
{% endblock %}
<!--------------------------------------------------------------------------- Block title --------------------------------------------------------------------------->
{% block title %}Pedidos{% endblock %}
<!--------------------------------------------------------------------------- Block header --------------------------------------------------------------------------->
{% block header %}
<div class="titulo">
    <h1>Pedidos</h1>
</div>
{% endblock %}
<!--------------------------------------------------------------------------- Block content --------------------------------------------------------------------------->
{% block content %}
<div class="container">
    <div class="row">
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="filtroCliente" class="form-label">Cliente</label>
                <select id="filtroCliente" class="form-select">
                <option value="">Todos</option>
                {% for cliente in Clientes %}
                    <option value="{{ cliente.referencia }}">{{ cliente.referencia }}</option>
                {% endfor %}
                </select>
            </div>

            <div class="col-md-4">
                <label for="filtroProducto" class="form-label">Producto</label>
                <select id="filtroProducto" class="form-select">
                <option value="">Todos</option>
                {% for sugerencia in Sugerencias %}
                    <option value="{{ sugerencia.texto }}">{{ sugerencia.texto }}</option>
                {% endfor %}
                </select>
            </div>

            <div class="col-md-4">
                <label for="filtroEstado" class="form-label">Estado</label>
                <select id="filtroEstado" class="form-select">
                <option value="">Todos</option>
                {% for estado in Estados %}
                    <option value="{{ estado }}">{{ estado }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
    
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="tabla-scroll">
                <table id="Pedidos" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="centered">Número</th>
                            <th class="centered">Cliente</th>
                            <th class="centered">Productos/Servicios</th>
                            <th class="centered">Estado</th>
                            <th class="centered">Encargado</th>
                            <th class="centered">Observaciones</th>
                            <th class="centered">Total</th>
                            <th class="centered">Seña</th>
                            <th class="centered">Saldo</th>
                            <th class="centered">Presupuesto</th>
                            <th class="centered">Fecha de entrega</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_Pedido">
                        {% for p in Peds %}
                            <tr>
                                <td>
                                    <div class="numero">
                                        <div class="contenido">{{ p.numero }}</div>
                                        <div class="acciones">
                                            <button type="button"
                                                    class="btn btn-dark btn-xs"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#confirmacionModal"
                                                    data-info="{{ p.numero }}|{{ p.presupuesto }}"
                                                    title="Ver confirmación para enviar al cliente">
                                                <i class="fa-solid fa-circle-info"></i>
                                            </button>
                                            <a href="/pedidos/eliminarPedido/{{ p.numero }}" class="btn btn-dark btn-xs btnEliminacion" title="Eliminar pedido">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>

                                <td>{{ p.cliente }}</td>

                                <td>
                                    <div class="celda-grid">
                                        <div class="contenido">{{ p.producto }}</div>
                                        <div class="acciones">
                                            <button type="button" class="btn btn-info btn-xs" data-bs-toggle="modal" data-bs-target="#detallesModal" data-info="{{ p.numero }}|{{ p.presupuesto }}" title="Haz click para ver más detalles del pedido">
                                                <i class="fa-solid fa-eye sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="estado">
                                        <div class="contenido">{{ p.estado }}</div>
                                        <div class="acciones">
                                            <button type="button" class="btn btn-dark btn-xs" data-bs-toggle="modal" data-bs-target="#cambiarEstadoModal" data-bs-whatever="{{ p.numero }}">
                                                <i class="fa-solid fa-pencil sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="celda-grid">
                                        <div class="contenido">{{ p.nombre_encargado }}</div>
                                        <div class="acciones">
                                            <button type="button" class="btn btn-dark btn-xs" data-bs-toggle="modal" data-bs-target="#cambiarEncargadoModal" data-bs-whatever="{{ p.numero }}">
                                                <i class="fa-solid fa-pencil sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="celda-grid">
                                        <div class="contenido">{{ p.descripcion }}</div>
                                        <div class="acciones">
                                            <button type="button" class="btn btn-dark btn-xs" data-bs-toggle="modal" data-bs-target="#agregarDescripcionModal" data-bs-whatever="{{ p.numero }}|{{ p.descripcion }}">
                                                <i class="fa-solid fa-pencil sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>

                                <td>$ {{ p.precio }}</td>

                                <td>
                                    <div class="celda-grid">
                                        <div class="contenido">$ {{ p.senia }}</div>
                                        <div class="acciones">
                                            <button type="button" class="btn btn-dark btn-xs" data-bs-toggle="modal" data-bs-target="#agregarSeniaModal" data-bs-whatever="{{ p.numero }}">
                                                <i class="fa-solid fa-pencil sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>

                                <td>$ {{ p.saldo }}</td>

                                <td>
                                    <a href="/presupuestos/verPresupuesto/{{ p.presupuesto }}">{{ p.presupuesto }}</a>
                                </td>

                                <td>{{ p.fecha_entrega }}</td>

                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--------------------------------------------------------------------------- Block modal --------------------------------------------------------------------------->
{% block modal %}
<!-- Modal confirmaación seña -->
<div class="modal fade" id="confirmacionModal" tabindex="-1" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmacionModalLabel">Confirmación del pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p><strong>Cliente:</strong> <span id="confCliente"></span></p>
        <p><strong>Fecha de pedido:</strong> <span id="confFechaPedido"></span></p>
        <p><strong>Fecha de entrega potencial:</strong> <span id="confFechaEntrega"></span></p>
        <hr>
        <div id="confProductos" class="mb-3"></div>
        <hr>
        <p><strong>Precio:</strong> $ <span id="confPrecio"></span></p>
        <p><strong>Seña:</strong> $ <span id="confSenia"></span></p>
        <p><strong>Saldo:</strong> $ <span id="confSaldo"></span></p>
      </div>
    </div>
  </div>
</div>


<!-- Modal Ver Detalles -->
<div class="modal fade" id="detallesModal" tabindex="-1" aria-labelledby="detallesModalLabel" data-bs-backdrop="static" aria-hidden="true">   
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title-detalles fs-5" id="detallesModalLabel">Modal Title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                        <th>Insumo</th>
                        <th>Producto</th>
                        <th>Información Adicional</th>
                        <th>Empaquetado</th>
                        <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody id="productosTableBody">
                        <!-- Aquí se cargará la tabla mediante AJAX -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn-fuente" data-bs-dismiss="modal">Volver atras</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cambiar Estado -->
<div class="modal fade" id="cambiarEstadoModal" tabindex="-1" aria-labelledby="cambiarEstadoModalLabel" data-bs-backdrop="static" aria-hidden="true">   
    <form action="/pedidos/cambiarEstado" method="POST">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title-estado fs-5" id="cambiarEstadoModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="cambiarPedido_estado" name="cambiarPedido_estado" readonly="true" hidden>
                    <label for="estado" style="font-weight: bold">Seleccionar el nuevo estado:</label>
                    <select name="estado" id="estado" class="form-control select">
                        <option value="">Elegir un estado</option>
                        {% for estado in Estados %}
                            <option value="{{ estado }}">{{ estado }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark btn-fuente" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-dark btn-fuente">Guardar cambios</a></button> 
                </div>
            </div>
        </div>
    </form>
</div>
            

<!-- Modal Cambiar Encargado -->
<div class="modal fade" id="cambiarEncargadoModal" tabindex="-1" aria-labelledby="cambiarEncargadoModalLabel" data-bs-backdrop="static" aria-hidden="true">   
    <form action="/pedidos/cambiarEncargado" method="POST">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title-enc fs-5" id="cambiarEncargadoModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="cambiarPedido_enc" name="cambiarPedido_enc" readonly="true" hidden>
                    <label for="encargadoSelect" style="font-weight: bold">Asignar este pedido a:</label>
                    <select name="encargadoSelect" id="encargadoSelect" class="form-control select">
                        <!-- Opciones cargadas dinámicamente -->
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark btn-fuente" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-dark btn-fuente">Guardar cambios</a></button> 
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Modal Agregar descripción -->
<div class="modal fade" id="agregarDescripcionModal" tabindex="-1" aria-labelledby="agregarDescripcionModalLabel" data-bs-backdrop="static" aria-hidden="true">   
    <form action="/pedidos/agregarDescripcion" method="POST">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title-desc fs-5" id="agregarDescripcionModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="cambiarPedido_desc" name="cambiarPedido_desc" readonly="true" hidden>
                    <label for="descripcion" style="font-weight: bold">Agregar anotación al pedido:</label>
                    <textarea rows="4" cols="50" id="descripcion" name="descripcion"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark btn-fuente" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-dark btn-fuente">Guardar cambios</a></button> 
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Agregar nueva senia -->
<div class="modal fade" id="agregarSeniaModal" tabindex="-1" aria-labelledby="agregarSeniaModalLabel" data-bs-backdrop="static" aria-hidden="true">   
    <form action="/pedidos/agregarSenia" method="POST">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title-senia fs-5" id="agregarSeniaModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="cambiarPedido_senia" name="cambiarPedido_senia" readonly="true" hidden>
                    <label for="senia" style="font-weight: bold">Ingresa el monto de la seña $ (formato #.##):</label>
                    <input type="text" id="senia" name="senia">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark btn-fuente" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-dark btn-fuente">Guardar cambios</a></button> 
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
<!--------------------------------------------------------------------------- Block footer --------------------------------------------------------------------------->
{% block footer %}

{% endblock %}
<!--------------------------------------------------------------------------- Block scripts --------------------------------------------------------------------------->
{% block scripts %}
<!-- Custom Js -->
<script src="{% static 'pedidos/js/Pedidos.js' %}"></script>
{% endblock %}