
{% extends 'core/base.html' %}
{% load static %}
{% load l10n %}
<!--------------------------------------------------------------------------- Block head --------------------------------------------------------------------------->
{% block head %}

{% endblock %}
<!--------------------------------------------------------------------------- Block title --------------------------------------------------------------------------->
{% block title %}Viajes cadete{% endblock %}
<!--------------------------------------------------------------------------- Block header --------------------------------------------------------------------------->
{% block header %}
<div class="titulo">
    <h1>Viajes cadete</h1>
    <button type="button" class="btn btn-dark btn-fuente btn-xs" data-bs-toggle="modal" data-bs-target="#crearViajeModal" data-bs-whatever="0">
        <i class="fa-solid fa-square-plus"></i> Registrar un viaje
    </button>
    <button class="btn btn-dark btn-fuente btn-xs" id="btnMarcarPagados">Marcar como pagados</button>
    <button class="btn btn-dark btn-fuente btn-xs" id="btnMarcarNoPagados">Marcar como NO pagados</button>
    <a href="{% url 'exportar_viajes_cadete' %}">
      <button class="btn btn-dark btn-fuente btn-xs">Exportar NO pagados a excel</button>
    </a>
</div>
{% endblock %}
<!--------------------------------------------------------------------------- Block content --------------------------------------------------------------------------->
{% block content %}
<div class="container">
    <div class="row">    
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h5 class="mt-4">Viajes pendientes de pago</h5>
            <div class="tabla-scroll">
                <table id="ViajesCadete" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="centered">Fecha</th>
                            <th class="centered">Origen &rarr; Destino</th>
                            <th class="centered">Precio</th>
                            <th class="centered">
                              <input type="checkbox" id="selectAllViajesPendientes">
                              Estado
                            </th>
                            <th class="centered">Fecha de pago</th>
                            <th class="centered">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_ViajesCadete">
                        {% for v in viajes_pendientes %}
                            <tr>
                                <td>{{ v.fecha }}</td>
                                <td>{{ v.origen }} &rarr; {{ v.destino }}</td>
                                <td>$ {{ v.precio }}</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input estado-checkbox" data-id="{{ v.id }}">
                                </td>
                                <td>Pendiente</td>
                                <td>
                                    <button type="button" class="btn btn-dark btn-xs"
                                            data-bs-toggle="modal"
                                            data-bs-target="#crearViajeModal"
                                            data-bs-whatever="{{ v.id }}"
                                            title="Editar este registro">
                                        <i class="fa-solid fa-pencil"></i>
                                    </button>
                                    {% if es_gerencia %}
                                    <a href="/pedidos/borrarViajeCadete/{{ v.id }}"
                                        class="btn btn-dark btn-xs btnEliminacion"
                                        data-tipo="viaje"
                                        data-fetch-url="/pedidos/infoViajeCadete/{{ v.id }}"
                                        title="Eliminar viaje">
                                            <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                    <tfoot>
                      <tr>
                          <td colspan="2" class="text-end fw-bold">Total a pagar:</td>
                          <td>$ {{ total|localize }}</td>
                      </tr>
                  </tfoot>
                </table>
            </div>
            <h5 class="mt-4">Viajes ya pagados</h5>
            <div class="tabla-scroll">
                <table id="ViajesCadetePagados" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="centered">Fecha</th>
                            <th class="centered">Origen &rarr; Destino</th>
                            <th class="centered">Precio</th>
                            <th class="centered">
                              <input type="checkbox" id="selectAllViajesPagados">
                              Estado
                            </th>
                            <th class="centered">Fecha de pago</th>
                            <th class="centered">Borrar</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_ViajesCadetePagados">
                        {% for v in viajes_pagados %}
                            <tr>
                                <td>{{ v.fecha }}</td>
                                <td>{{ v.origen }} &rarr; {{ v.destino }}</td>
                                <td>$ {{ v.precio }}</td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input estado-checkbox" data-id="{{ v.id }}">
                                </td>
                                <td>{{ v.fecha_pago }}</td>
                                <td>
                                    {% if es_gerencia %}
                                    <a href="/pedidos/borrarViajeCadete/{{ v.id }}"
                                        class="btn btn-dark btn-xs btnEliminacion"
                                        data-tipo="viaje"
                                        data-fetch-url="/pedidos/infoViajeCadete/{{ v.id }}"
                                        title="Eliminar viaje">
                                            <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--------------------------------------------------------------------------- Block modal --------------------------------------------------------------------------->
{% block modal %}
    {% include 'pedidos/partials/modales.html' %}
{% endblock %}
<!--------------------------------------------------------------------------- Block footer --------------------------------------------------------------------------->
{% block footer %}

{% endblock %}
<!--------------------------------------------------------------------------- Block scripts --------------------------------------------------------------------------->
{% block scripts %}
<!-- Custom Js -->
<script src="{% static 'pedidos/js/Cadete.js' %}"></script>
{% endblock %}